* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  margin: 12px;
}

input {
  margin-right: 12px;
  padding: 8px;
}

.table {
  margin: 12px;
  display: flex;
}

.box {
  min-width: 12px;
  padding: 8px;
  height: 36px;
  border: 1px solid black;
  text-align: center;
}

.true {
  color: green;
}

.false {
  color: red;
}
